1. sales = 0 + quantity = 0 ; returned/cancelled
2. sales = 0 quantity = value ; shipped
3. order id not has unique value

In [2]:
import pandas as pd

AttributeError: partially initialized module 'pandas' has no attribute '_pandas_parser_CAPI' (most likely due to a circular import)

In [2]:
a=pd.read_csv("Amazon Sale Report.csv")
a.head(1)

C:\Users\dishi\AppData\Local\Temp\ipykernel_15092\1076197515.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  a=pd.read_csv("Amazon Sale Report.csv")

,index,Order_ID,Order_Date,Order_Status,Fulfillment_Type,Sales_Channel,Shipping_Service_Level,Product_Style,Product_SKU,Product_Category,...,Sale_Amount,Shipping_City,Shipping_State,Shipping_Postal_Code,Shipping_Country,Business_to_Business,Fulfilled_By,Promotion_IDs,Promotion_ID_Count,avg. value
0,69617,171-5348080-7305151,5/15/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET355,SET355-KR-PP-XS,Set,...,1229.0,NaN,UTTAR PRADESH,226002.0,IN,False,Easy Ship,Amazon PLCC Free-Financing Universal Merchant ...,17,1229.0

In [ ]:
a.describe()
# a.corr() - than use heat map for corelation purpose. blue clr is high match
#scatter plot between two columns to see if there is any correlation beween 2 columns (linear dependecy)
#  box plot - also used for to see how column 1 value are changing depending on column 2
#  for statistical analysus for particular column - density , box ,histogram
# regression plot

,index,Quantity,Sale_Amount,Promotion_ID_Count,avg. value
count,128975.000000,128975.000000,128975.000000,128975.000000,128975.000000
mean,64487.000000,0.904431,609.363662,5.559543,582.597612
std,37232.019822,0.313354,313.347147,9.048845,328.055021
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32243.500000,1.000000,413.000000,0.000000,399.000000
50%,64487.000000,1.000000,583.000000,1.000000,568.000000
75%,96730.500000,1.000000,771.000000,5.000000,771.000000
max,128974.000000,15.000000,5584.000000,36.000000,2598.000000

In [ ]:
a['Fulfillment_Type'].value_counts()
# /pie chart / bar graph can be drawn column vise

Fulfillment_Type
Amazon      89698
Merchant    39277
Name: count, dtype: int64

In [ ]:
a.loc[a['Shipping_State']=='UTTAR PRADESH']  #ye sql ki tarah rows show krega function
# a.loc[] - row filtering like sql
# short cut key for below code shell below = b
# short cut key for above code shell below = a
# short cut key for delete code shell below = dd (2 times d)
# short cut key for command mode shell below = escape
# short cut key for editting mode shell below = enter

NameError: name 'a' is not defined

In [41]:
a['Promotion_ID_Count'] = a['Promotion_IDs'].fillna('').apply(lambda x: len([i for i in x.split(',') if i.strip() != '']))

In [42]:
# Add average value column to DataFrame a
a['avg. value'] = a['Sale_Amount'] / a['Quantity']

# Verify the new column is added
print(a[['Sale_Amount', 'Quantity', 'avg. value']].head())

   Sale_Amount  Quantity  avg. value
0       647.62         0         inf
1       406.00         1       406.0
2       329.00         1       329.0
3       753.33         0         inf
4       574.00         1       574.0

In [43]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   128975 non-null  int64
 1   Order_ID                128975 non-null  object
 2   Order_Date              128975 non-null  object
 3   Order_Status            128975 non-null  object
 4   Fulfillment_Type        128975 non-null  object
 5   Sales_Channel           128975 non-null  object
 6   Shipping_Service_Level  128975 non-null  object
 7   Product_Style           128975 non-null  object
 8   Product_SKU             128975 non-null  object
 9   Product_Category        128975 non-null  object
 10  Product_Size            128975 non-null  object
 11  Amazon_Standard_ID      128975 non-null  object
 12  Courier_Status          122103 non-null  object
 13  Quantity                128975 non-null  int64
 14  Currency                121180 non-null  object
 15  Sale_Amount             121180 non-null  float64
 16  Shipping_City           128942 non-null  object
 17  Shipping_State          128942 non-null  object
 18  Shipping_Postal_Code    128942 non-null  float64
 19  Shipping_Country        128942 non-null  object
 20  Business_to_Business    128975 non-null  bool
 21  Fulfilled_By            39277 non-null   object
 22  Promotion_IDs           79822 non-null   object
 23  Promotion_ID_Count      128975 non-null  int64
 24  avg. value              121180 non-null  float64
dtypes: bool(1), float64(3), int64(3), object(18)
memory usage: 23.7+ MB

In [44]:

# Filter the rows where 'avg. value' is 0, a string, or missing
zero_values = a[a['avg. value'] == 0]
string_values = a[a['avg. value'].apply(lambda x: isinstance(x, str))]
missing_values = a[a['avg. value'].isna()]

# Get the counts for each category
zero_count = len(zero_values)
string_count = len(string_values)
missing_count = len(missing_values)

# Print the counts for each category
print(f"Count of 0 values in 'avg. value': {zero_count}")
print(f"Count of string values in 'avg. value': {string_count}")
print(f"Count of missing values (NaN) in 'avg. value': {missing_count}")

Count of 0 values in 'avg. value': 2343
Count of string values in 'avg. value': 0
Count of missing values (NaN) in 'avg. value': 7795

In [45]:
# Filter rows where 'avg. value' is missing or zero
missing_or_zero_avg_value_rows = a[a['avg. value'].isna() | (a['avg. value'] == 0)]

# Export to Excel
missing_or_zero_avg_value_rows.to_excel('missing_or_zero_avg_value.xlsx', index=False)
print( "total_count = ",len(missing_or_zero_avg_value_rows))

total_rows = len(a)

# Rows where 'avg. value' is missing or zero (already created)
missing_or_zero_count = len(missing_or_zero_avg_value_rows)

# Calculate the percentage
percentage = (missing_or_zero_count / total_rows) * 100

# Display the result
print(f"Percentage of rows with missing or zero 'avg. value': {percentage:.2f}%")

total_count =  10138
Percentage of rows with missing or zero 'avg. value': 7.86%

In [46]:
# Fill missing values for each column based on data type
a = a.fillna({
    'Order_ID': 0,           # String columns
    'Order_Date': 0,
    'Order_Status': 'Unknown',
    'Fulfillment_Type': 'Unknown',
    'Sales_Channel': 'Unknown',
    'Shipping_Service_Level': 'Unknown',
    'Product_Style': 'Unknown',
    'Product_SKU': 'Unknown',
    'Product_Category': 'Unknown',
    'Product_Size': 'Unknown',
    'Amazon_Standard_ID': 'Unknown',
    'Courier_Status': 'Unknown',
    'Quantity': 0,                   # Numeric columns
    'Currency': 'Unknown',
    'Sale_Amount': 0.0,              # Float columns
    'Shipping_City': 'Unknown',
    'Shipping_State': 'Unknown',
    'Shipping_Postal_Code': 'Unknown',
    'Shipping_Country': 'Unknown',
    'Fulfilled_By': 'Unknown',
    'Promotion_IDs': 'Unknown',
    'avg. value' : 0.0
})

# Verify that there are no more missing values
print("Missing values after filling:")
print(a.isnull().sum())

Missing values after filling:
index                     0
Order_ID                  0
Order_Date                0
Order_Status              0
Fulfillment_Type          0
Sales_Channel             0
Shipping_Service_Level    0
Product_Style             0
Product_SKU               0
Product_Category          0
Product_Size              0
Amazon_Standard_ID        0
Courier_Status            0
Quantity                  0
Currency                  0
Sale_Amount               0
Shipping_City             0
Shipping_State            0
Shipping_Postal_Code      0
Shipping_Country          0
Business_to_Business      0
Fulfilled_By              0
Promotion_IDs             0
Promotion_ID_Count        0
avg. value                0
dtype: int64

In [47]:
# Loop through each column and print the unique count
for column in a.columns:
    unique_count = a[column].nunique()
    print(f"{column}: {unique_count} unique values")

index: 128975 unique values
Order_ID: 120378 unique values
Order_Date: 91 unique values
Order_Status: 13 unique values
Fulfillment_Type: 2 unique values
Sales_Channel: 2 unique values
Shipping_Service_Level: 2 unique values
Product_Style: 1377 unique values
Product_SKU: 7195 unique values
Product_Category: 9 unique values
Product_Size: 11 unique values
Amazon_Standard_ID: 7190 unique values
Courier_Status: 4 unique values
Quantity: 10 unique values
Currency: 2 unique values
Sale_Amount: 1410 unique values
Shipping_City: 8956 unique values
Shipping_State: 70 unique values
Shipping_Postal_Code: 9460 unique values
Shipping_Country: 2 unique values
Business_to_Business: 2 unique values
Fulfilled_By: 2 unique values
Promotion_IDs: 5788 unique values
Promotion_ID_Count: 37 unique values
avg. value: 748 unique values

In [48]:
# Convert all values in 'Shipping_State' to uppercase and strip them
a['Shipping_State'] = a['Shipping_State'].str.strip().str.upper()

unique_states_count = a['Shipping_State'].nunique()
unique_cities_count = a['Shipping_City'].nunique()
# Display the counts
print(f"Unique values in Shipping_State: {unique_states_count}")
print(f"Unique values in Shipping_City: {unique_cities_count}")

print("Unique values in Shipping_State:")
for state in sorted(a['Shipping_State'].dropna().unique()):
    print(state)

Unique values in Shipping_State: 48
Unique values in Shipping_City: 8956
Unique values in Shipping_State:
ANDAMAN & NICOBAR
ANDHRA PRADESH
APO
AR
ARUNACHAL PRADESH
ASSAM
BIHAR
CHANDIGARH
CHHATTISGARH
DADRA AND NAGAR
DELHI
GOA
GUJARAT
HARYANA
HIMACHAL PRADESH
JAMMU & KASHMIR
JHARKHAND
KARNATAKA
KERALA
LADAKH
LAKSHADWEEP
MADHYA PRADESH
MAHARASHTRA
MANIPUR
MEGHALAYA
MIZORAM
NAGALAND
NEW DELHI
NL
ODISHA
ORISSA
PB
PONDICHERRY
PUDUCHERRY
PUNJAB
PUNJAB/MOHALI/ZIRAKPUR
RAJASTHAN
RAJSHTHAN
RAJSTHAN
RJ
SIKKIM
TAMIL NADU
TELANGANA
TRIPURA
UNKNOWN
UTTAR PRADESH
UTTARAKHAND
WEST BENGAL

In [49]:
# State cleaning map
state_corrections = {
    'RAJSHTHAN': 'RAJASTHAN',
    'RAJSTHAN': 'RAJASTHAN',
    'RAJASTHAN': 'RAJASTHAN',
    'RJ': 'RAJASTHAN',
    'PUNJAB/MOHALI/ZIRAKPUR': 'PUNJAB',
    'PB': 'PUNJAB',
    'NEW DELHI': 'DELHI',
    'NL': 'NAGALAND',
    'ORISSA': 'ODISHA',
    'PONDICHERRY': 'PUDUCHERRY',
    'PUDUCHERRY': 'PUDUCHERRY',
    'AR': 'ARUNACHAL PRADESH',
    'APO': 'ANDHRA PRADESH',
    'UNKNOWN': 'UNKNOWN',
    'DELHI': 'DELHI',  # Keep as is
    'DADRA AND NAGAR': 'DADRA AND NAGAR HAVELI AND DAMAN AND DIU',
    'LAKSHADWEEP': 'LAKSHADWEEP',  # Already clean
    # Add other mappings if needed
}
a['Shipping_State'] = a['Shipping_State'].replace(state_corrections)
# printing
unique_states_count = a['Shipping_State'].nunique()
unique_cities_count = a['Shipping_City'].nunique()
# Display the counts
print(f"Unique values in Shipping_State: {unique_states_count}")
print(f"Unique values in Shipping_City: {unique_cities_count}")
for column in a.columns:
    if column in ['Shipping_State']:
        unique_values = a[column].unique()
print("Unique values in Shipping_State:")
for state in sorted(a['Shipping_State'].dropna().unique()):
    print(state)

Unique values in Shipping_State: 37
Unique values in Shipping_City: 8956
Unique values in Shipping_State:
ANDAMAN & NICOBAR
ANDHRA PRADESH
ARUNACHAL PRADESH
ASSAM
BIHAR
CHANDIGARH
CHHATTISGARH
DADRA AND NAGAR HAVELI AND DAMAN AND DIU
DELHI
GOA
GUJARAT
HARYANA
HIMACHAL PRADESH
JAMMU & KASHMIR
JHARKHAND
KARNATAKA
KERALA
LADAKH
LAKSHADWEEP
MADHYA PRADESH
MAHARASHTRA
MANIPUR
MEGHALAYA
MIZORAM
NAGALAND
ODISHA
PUDUCHERRY
PUNJAB
RAJASTHAN
SIKKIM
TAMIL NADU
TELANGANA
TRIPURA
UNKNOWN
UTTAR PRADESH
UTTARAKHAND
WEST BENGAL

In [50]:
a['Shipping_City'] = a['Shipping_City'].str.upper()

In [51]:
a['Shipping_City1'] = a['Shipping_City'].str.replace(r'^[^A-Z]+|[^A-Z]+$', '', regex=True)

unique_cities_count1 = a['Shipping_City1'].nunique()
print(f"Unique values in Shipping_City1: {unique_cities_count1}")
# Export just the two columns to Excel
# a[['Shipping_City', 'Shipping_City1']].to_excel('city_comparison.xlsx', index=False)
# Filter rows where the cleaned city differs from the original
mismatches = a[a['Shipping_City'] != a['Shipping_City1']]

# Export to Excel
mismatches[['Shipping_City', 'Shipping_City1']].to_excel('city_mismatches.xlsx', index=False)

Unique values in Shipping_City1: 7040

In [52]:
import re
import geonamescache

# Load GeoNames Indian cities
gc = geonamescache.GeonamesCache()
cities = gc.get_cities()
indian_cities = {city['name'].upper(): city['name'].title() for city in cities.values() if city['countrycode'] == 'IN'}
a = a.sort_values(by='Shipping_City1')

# Function to clean and match each cell
def match_indian_city(text):
    if not isinstance(text, str):
        return text
    # Split by non-letter characters (e.g. space, comma, digit, special char)
    tokens = re.split(r'[^A-Za-z]', text.upper())
    for token in tokens:
        if token in indian_cities:
            return indian_cities[token]  # Return proper case
    
    return text  # Return original if no match

# Apply to the 'Shipping_City1' column
a['Shipping_City2'] = a['Shipping_City1'].apply(match_indian_city)
unique_cities_count2 = a['Shipping_City2'].nunique()
print(f"Unique values in Shipping_City2: {unique_cities_count2}")

def extract_tokens(text):
    if not isinstance(text, str):
        return []
    tokens = re.split(r'[^A-Za-z]', text.upper())
    return [token for token in tokens if token]
a['City_Tokens'] = a['Shipping_City1'].apply(extract_tokens)

Unique values in Shipping_City2: 5924

In [53]:
a['Shipping_City2'] = a['Shipping_City2'].str.replace(
    r'\b(east|west|north|south|dist|district|DISTERICT)\b', '', 
    case=False, regex=True
).str.replace(r'\s+', ' ', regex=True).str.strip()




a['Shipping_City2'] = a['Shipping_City2'].str.replace(r'^[^A-Z]+|[^A-Z]+$', '', regex=True)
unique_cities_count3 = a['Shipping_City2'].nunique()
print(f"Unique values in Shipping_City2: {unique_cities_count3}")

Unique values in Shipping_City2: 4979

In [54]:
# Filter rows where 'Shipping_City2' contains a comma
mask = a['Shipping_City2'].str.contains(',')

# Extract the last part after the last comma
a.loc[mask, 'Shipping_City2'] = a.loc[mask, 'Shipping_City2'].str.split(',').str[-1].str.strip()

a['Shipping_City2'] = a['Shipping_City2'].str.replace(r'^[^A-Z]+|[^A-Z]+$', '', regex=True)

unique_cities_count3 = a['Shipping_City2'].nunique()
print(f"Unique values in Shipping_City2: {unique_cities_count3}")

Unique values in Shipping_City2: 4731

In [55]:
import re

# Clean city names
a['Shipping_City2'] = a['Shipping_City2'].str.replace(
    r'\s*\(?\b[WESN]\b\)?\s*', ' ', regex=True  # Remove (E), (W), (S), etc.
).str.replace(
    r'\s*\([^)]*\)', ' ', regex=True  # Remove any full bracketed suffix like (PO), (D.T), etc.
).str.replace(
    r'\s+', ' ', regex=True  # Replace multiple spaces with single space
).str.strip()  # Strip leading/trailing spaces


unique_cities_count3 = a['Shipping_City2'].nunique()
print(f"Unique values in Shipping_City2: {unique_cities_count3}")

Unique values in Shipping_City2: 4712

In [56]:
# Convert dictionary values to a DataFrame
# df_cities = pd.DataFrame(indian_cities.values(), columns=['Indian City'])

# Export to Excel
# df_cities.to_excel('indian_cities.xlsx', index=False)

In [57]:
# Rename columns for export
export_df = a[['Shipping_City', 'Shipping_City1', 'Shipping_City2','City_Tokens']].rename(columns={
    'Shipping_City': 'Original City',
    'Shipping_City1': 'Cleaned City 1',
    'Shipping_City2': 'Cleaned City 2',
    'City_Tokens' : 'City_Tokens'
})

# # Export to Excel with custom column titles
# export_df.to_excel('city_mismatches.xlsx', index=False)

In [58]:
# Keep only rows where 'Shipping_City2' is unique
unique_rows = a[a['Shipping_City2'].duplicated(keep=False) == False]

# Rename columns for export
export_df = unique_rows[['Shipping_City', 'Shipping_City1', 'Shipping_City2','City_Tokens']].rename(columns={
    'Shipping_City': 'Original City',
    'Shipping_City1': 'Cleaned City 1',
    'Shipping_City2': 'Cleaned City 2',
    'City_Tokens' : 'City_Tokens'
})

# Export to Excel
# export_df.to_excel('cleaned_shipping.xlsx', index=False)

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   128975 non-null  int64
 1   Order_ID                128975 non-null  object
 2   Order_Date              128975 non-null  object
 3   Order_Status            128975 non-null  object
 4   Fulfillment_Type        128975 non-null  object
 5   Sales_Channel           128975 non-null  object
 6   Shipping_Service_Level  128975 non-null  object
 7   Product_Style           128975 non-null  object
 8   Product_SKU             128975 non-null  object
 9   Product_Category        128975 non-null  object
 10  Product_Size            128975 non-null  object
 11  Amazon_Standard_ID      128975 non-null  object
 12  Courier_Status          128975 non-null  object
 13  Quantity                128975 non-null  int64
 14  Currency                128975 non-null  object
 15  Sale_Amount             128975 non-null  float64
 16  Shipping_City           121127 non-null  object
 17  Shipping_State          128975 non-null  object
 18  Shipping_Postal_Code    128975 non-null  object
 19  Shipping_Country        128975 non-null  object
 20  Business_to_Business    128975 non-null  bool
 21  Fulfilled_By            128975 non-null  object
 22  Promotion_IDs           128975 non-null  object
 23  Promotion_ID_Count      128975 non-null  int64
 24  avg. value              128975 non-null  float64
dtypes: bool(1), float64(2), int64(3), object(19)
memory usage: 23.7+ MB

In [60]:
a['Shipping_City']=a['Shipping_City2']
a.drop(columns=['Shipping_City1','Shipping_City2','City_Tokens'], inplace=True)

In [61]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128975 entries, 69617 to 126572
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   128975 non-null  int64
 1   Order_ID                128975 non-null  object
 2   Order_Date              128975 non-null  object
 3   Order_Status            128975 non-null  object
 4   Fulfillment_Type        128975 non-null  object
 5   Sales_Channel           128975 non-null  object
 6   Shipping_Service_Level  128975 non-null  object
 7   Product_Style           128975 non-null  object
 8   Product_SKU             128975 non-null  object
 9   Product_Category        128975 non-null  object
 10  Product_Size            128975 non-null  object
 11  Amazon_Standard_ID      128975 non-null  object
 12  Courier_Status          128975 non-null  object
 13  Quantity                128975 non-null  int64
 14  Currency                128975 non-null  object
 15  Sale_Amount             128975 non-null  float64
 16  Shipping_City           128975 non-null  object
 17  Shipping_State          128975 non-null  object
 18  Shipping_Postal_Code    128975 non-null  object
 19  Shipping_Country        128975 non-null  object
 20  Business_to_Business    128975 non-null  bool
 21  Fulfilled_By            128975 non-null  object
 22  Promotion_IDs           128975 non-null  object
 23  Promotion_ID_Count      128975 non-null  int64
 24  avg. value              128975 non-null  float64
dtypes: bool(1), float64(2), int64(3), object(19)
memory usage: 24.7+ MB

In [62]:
a["avg. value"].replace([float('inf'), float('-inf')], 0, inplace=True)

C:\Users\dishi\AppData\Local\Temp\ipykernel_22208\967058609.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  a["avg. value"].replace([float('inf'), float('-inf')], 0, inplace=True)

In [63]:
a.to_csv('Amazon Sale Report.csv', index=False)

In [64]:
a.to_excel("Amazon Sale Report.xlsx", index=False)

In [ ]:
# new file Amazon csv code ----------------

In [46]:
import pandas as pd

In [47]:
b=pd.read_csv("Amazon Sale Report.csv")
b.head(1)

C:\Users\dishi\AppData\Local\Temp\ipykernel_1632\2861505238.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  b=pd.read_csv("Amazon Sale Report.csv")

,index,Order_ID,Order_Date,Order_Status,Fulfillment_Type,Sales_Channel,Shipping_Service_Level,Product_Style,Product_SKU,Product_Category,...,Sale_Amount,Shipping_City,Shipping_State,Shipping_Postal_Code,Shipping_Country,Business_to_Business,Fulfilled_By,Promotion_IDs,Promotion_ID_Count,avg. value
0,69617,171-5348080-7305151,5/15/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET355,SET355-KR-PP-XS,Set,...,1229.0,NaN,UTTAR PRADESH,226002.0,IN,False,Easy Ship,Amazon PLCC Free-Financing Universal Merchant ...,17,1229.0

In [48]:
# Convert to float and round to nearest integer before converting to Int64
b['Sale_Amount'] = pd.to_numeric(b['Sale_Amount'], errors='coerce')  # Convert to float first
b['Sale_Amount'] = b['Sale_Amount'].round().astype('Int64')  # Round and convert to integer

# Check for any remaining issues
print("\nNumber of NaN values:", b['Sale_Amount'].isna().sum())

Number of NaN values: 0

In [49]:
# Display count before removing rows
print(f"Number of rows before removing zero sales: {len(b)}")

# Remove rows where Sale_Amount is 0 
b = b[b['Sale_Amount'] != 0]

# Display count after removing rows
print(f"Number of rows after removing zero sales: {len(b)}")

# Calculate percentage of rows removed
percent_removed = ((len(b) - len(b[b['Sale_Amount'] != 0])) / len(b)) * 100
print(f"Percentage of rows removed: {percent_removed:.2f}%")

# Verify the change by checking min sale amount
print(f"Minimum Sale Amount after cleaning: {b['Sale_Amount'].min()}")

Number of rows before removing zero sales: 128975
Number of rows after removing zero sales: 118837
Percentage of rows removed: 0.00%
Minimum Sale Amount after cleaning: 199

In [51]:
# Display count before removing rows
print(f"Number of rows before removing unknown postal codes: {len(b)}")

# Remove rows where Shipping_Postal_Code is 'Unknown'
b = b[b['Shipping_Postal_Code'] != 'Unknown']

# Display count after removing rows
print(f"Number of rows after removing unknown postal codes: {len(b)}")

# Calculate percentage of rows removed
total_removed = len(b) - len(b[b['Shipping_Postal_Code'] != 'Unknown'])
percent_removed = (total_removed / len(b)) * 100
print(f"Percentage of rows removed: {percent_removed:.2f}%")

Number of rows before removing unknown postal codes: 118806
Number of rows after removing unknown postal codes: 118806
Percentage of rows removed: 0.00%

In [53]:
# First show sample of current values
print("Current postal codes sample:")
print(b['Shipping_Postal_Code'].head(1))

# Convert directly to numeric since the values are already clean numbers
b['Shipping_Postal_Code'] = pd.to_numeric(b['Shipping_Postal_Code'], errors='coerce')

# Convert to Int64
b['Shipping_Postal_Code'] = b['Shipping_Postal_Code'].astype('Int64')

# Verify the conversion
print("\nAfter conversion:")
print(b['Shipping_Postal_Code'].head(1))

# Check for any NaN values
nan_count = b['Shipping_Postal_Code'].isna().sum()
print(f"\nNumber of NaN values: {nan_count}")

Current postal codes sample:
0    226002
Name: Shipping_Postal_Code, dtype: Int64

After conversion:
0    226002
Name: Shipping_Postal_Code, dtype: Int64

Number of NaN values: 0

In [55]:
# List of columns to check
columns_to_check = [
    'Order_Status', 
    'Fulfillment_Type',
    'Shipping_Service_Level',
    'Product_Category',
    'Business_to_Business'
]

# Print unique values for each column
for column in columns_to_check:
    print(f"\nUnique values in {column}:")
    print("-" * 40)
    unique_values = b[column].unique()
    for value in sorted(unique_values):
        count = b[column].value_counts()[value]
        print(f"{value}: {count}")
    print(f"Total unique values: {len(unique_values)}")
    print()

Unique values in Order_Status:
----------------------------------------
Cancelled: 10761
Pending: 639
Pending - Waiting for Pick Up: 272
Shipped: 76062
Shipped - Damaged: 1
Shipped - Delivered to Buyer: 28038
Shipped - Lost in Transit: 3
Shipped - Out for Delivery: 35
Shipped - Picked Up: 945
Shipped - Rejected by Buyer: 11
Shipped - Returned to Seller: 1896
Shipped - Returning to Seller: 143
Total unique values: 12


Unique values in Fulfillment_Type:
----------------------------------------
Amazon: 82094
Merchant: 36712
Total unique values: 2


Unique values in Shipping_Service_Level:
----------------------------------------
Expedited: 82033
Standard: 36773
Total unique values: 2


Unique values in Product_Category:
----------------------------------------
Blouse: 859
Bottom: 408
Dupatta: 3
Ethnic Dress: 1061
Saree: 154
Set: 46018
Top: 9989
Western Dress: 14472
kurta: 45842
Total unique values: 9


Unique values in Business_to_Business:
----------------------------------------
False: 117963
True: 843
Total unique values: 2

In [63]:
columns_to_remove = [
    'index', 'Fulfilled_By','Sales_Channel',
    'Shipping_Country','Courier_Status','Currency','Promotion_IDs'
]
b = b.drop(columns=columns_to_remove, errors='ignore')

In [ ]:
b = b.rename(columns={
    'Order_Date': 'date',
    'Shipping_Postal_Code': 'postal_code',
    'Business_to_Business': 'b2b',
    'Shipping_State': 'state',
    'Shipping_City': 'city',
    'Sale_Amount': 'sale',
    'Product_Size': 'size',
    'Product_Category': 'category',
    'Product_SKU': 'sku',
    'Product_Style': 'style',
    'Quantity': 'quantity',
    'Shipping_Service_Level': 'shipping_level',
})

Updated column types:
<class 'pandas.core.frame.DataFrame'>
Index: 118806 entries, 0 to 128974
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order_ID            118806 non-null  object
 1   date                118806 non-null  object
 2   Order_Status        118806 non-null  object
 3   Fulfillment_Type    118806 non-null  object
 4   shipping_level      118806 non-null  object
 5   style               118806 non-null  object
 6   sku                 118806 non-null  object
 7   category            118806 non-null  object
 8   size                118806 non-null  object
 9   Amazon_Standard_ID  118806 non-null  object
 10  quantity            118806 non-null  int64
 11  sale                118806 non-null  Int64
 12  city                118806 non-null  object
 13  state               118806 non-null  object
 14  postal_code         118806 non-null  object
 15  b2b                 118806 non-null  bool
 16  Promotion_ID_Count  118806 non-null  int64
 17  avg. value          118806 non-null  float64
dtypes: Int64(1), bool(1), float64(1), int64(2), object(13)
memory usage: 16.5+ MB
None

In [81]:
# Convert to datetime safely
b['date'] = pd.to_datetime(b['date'], errors='coerce', infer_datetime_format=True, dayfirst=False)

# Format as dd-mm-yyyy (string)
b['date'] = b['date'].dt.strftime('%d-%m-%Y')

# Confirm
print(b['date'].head())
print(b.dtypes['date'])
b['date'] = pd.to_datetime(b['date'], errors='coerce', infer_datetime_format=True, dayfirst=False)

C:\Users\dishi\AppData\Local\Temp\ipykernel_1632\164755989.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  b['date'] = pd.to_datetime(b['date'], errors='coerce', infer_datetime_format=True, dayfirst=False)
C:\Users\dishi\AppData\Local\Temp\ipykernel_1632\164755989.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  b['date'] = pd.to_datetime(b['date'], errors='coerce', infer_datetime_format=True, dayfirst=False)

0    15-05-2022
1    01-06-2022
2    11-06-2022
3    25-05-2022
4    15-06-2022
Name: date, dtype: object
object

C:\Users\dishi\AppData\Local\Temp\ipykernel_1632\164755989.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  b['date'] = pd.to_datetime(b['date'], errors='coerce', infer_datetime_format=True, dayfirst=False)
C:\Users\dishi\AppData\Local\Temp\ipykernel_1632\164755989.py:10: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  b['date'] = pd.to_datetime(b['date'], errors='coerce', infer_datetime_format=True, dayfirst=False)

In [82]:
# Convert columns to their appropriate types
b = b.astype({
    'Order_ID': 'string',
    'Order_Status': 'string',
    'Fulfillment_Type': 'string',
    'shipping_level': 'string',
    'style': 'string',
    'sku': 'string',
    'category': 'string',
    'size': 'string',
    'Amazon_Standard_ID': 'string',
    'city': 'string',
    'state': 'string',
    'postal_code': 'string',
    })

# Verify the changes
print("\nUpdated column types:")
print(b.info())

Updated column types:
<class 'pandas.core.frame.DataFrame'>
Index: 118806 entries, 0 to 128974
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order_ID            118806 non-null  string
 1   date                118805 non-null  datetime64[ns]
 2   Order_Status        118806 non-null  string
 3   Fulfillment_Type    118806 non-null  string
 4   shipping_level      118806 non-null  string
 5   style               118806 non-null  string
 6   sku                 118806 non-null  string
 7   category            118806 non-null  string
 8   size                118806 non-null  string
 9   Amazon_Standard_ID  118806 non-null  string
 10  quantity            118806 non-null  int64
 11  sale                118806 non-null  Int64
 12  city                118806 non-null  string
 13  state               118806 non-null  string
 14  postal_code         118806 non-null  string
 15  b2b                 118806 non-null  bool
 16  Promotion_ID_Count  118806 non-null  int64
 17  avg. value          118806 non-null  float64
dtypes: Int64(1), bool(1), datetime64[ns](1), float64(1), int64(2), string(12)
memory usage: 16.5 MB
None

In [84]:
b.to_csv('new_amazon_national_sales.csv', index=False)

###################   GRAPHS  ###################