In [1]:
import pandas as pd

In [2]:
a=pd.read_csv("Sale Report.csv") #stock report

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271 entries, 0 to 9270
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             9271 non-null   int64
 1   Product_SKU       9188 non-null   object
 2   Design_Number     9235 non-null   object
 3   Stock_Level       9235 non-null   float64
 4   Product_Category  9226 non-null   object
 5   Product_Size      9235 non-null   object
 6   Product_Color     9226 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 507.1+ KB

In [4]:

a.describe(include='all')
a.isnull().sum()
a.head()

,index,Product_SKU,Design_Number,Stock_Level,Product_Category,Product_Size,Product_Color
0,0,AN201-RED-L,AN201,5.0,AN : LEGGINGS,L,Red
1,1,AN201-RED-M,AN201,5.0,AN : LEGGINGS,M,Red
2,2,AN201-RED-S,AN201,3.0,AN : LEGGINGS,S,Red
3,3,AN201-RED-XL,AN201,6.0,AN : LEGGINGS,XL,Red
4,4,AN201-RED-XXL,AN201,3.0,AN : LEGGINGS,XXL,Red

In [5]:
import pandas as pd

# Replace empty strings ("") with NaN, so both are treated the same
a = a.replace('', pd.NA)
a = a.dropna(subset=['Product_SKU'])

# Find rows where any column has a missing value
rows_with_missing = a[a.isna().any(axis=1)]

# Show count
count_missing = len(rows_with_missing)
print(f"Number of rows with at least one null or empty value: {count_missing}\n")
print("Count of missing values per column:\n")
print(a.isnull().sum())

# Show the actual rows
print(rows_with_missing)

Number of rows with at least one null or empty value: 0

Count of missing values per column:

index               0
Product_SKU         0
Design_Number       0
Stock_Level         0
Product_Category    0
Product_Size        0
Product_Color       0
dtype: int64
Empty DataFrame
Columns: [index, Product_SKU, Design_Number, Stock_Level, Product_Category, Product_Size, Product_Color]
Index: []

In [6]:
columns_to_remove = [
    'index']
a = a.drop(columns=columns_to_remove, errors='ignore')

In [7]:
a = a.rename(columns={
    'Product_SKU': 'sku',
    'Design_Number': 'design_no',
    'Stock_Level': 'stock',
    'Product_Category': 'category',
    'Product_Size': 'size',
    'Product_Color': 'colour'
})
a = a.astype({
    'sku': 'string',
    'design_no': 'string',
    'stock': 'int',
    'category': 'string',
    'size': 'string',
    'colour': 'string'
})
print(a.dtypes)
print(a.head())

sku          string[python]
design_no    string[python]
stock                 int64
category     string[python]
size         string[python]
colour       string[python]
dtype: object
             sku design_no  stock       category size colour
0    AN201-RED-L     AN201      5  AN : LEGGINGS    L    Red
1    AN201-RED-M     AN201      5  AN : LEGGINGS    M    Red
2    AN201-RED-S     AN201      3  AN : LEGGINGS    S    Red
3   AN201-RED-XL     AN201      6  AN : LEGGINGS   XL    Red
4  AN201-RED-XXL     AN201      3  AN : LEGGINGS  XXL    Red

In [8]:
len(a)

9188

In [9]:
a.to_csv("new_stock_report.csv", index=False)